calculator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #eee;
  width: 300px;
}
calculator input.display {
  display: block;
  box-shadow: inset 0px 0px 1px 1px #ccc;
  width: 300px;
  height: 50px;
}
calculator button {
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  box-shadow: 0px 0px 1px 1px #ccc;
}

